@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

//vars
$accent: #ea918d;
$accentHover: #de8a86;
$dark: #304659;
$dark80: rgba(48,70,89,.8);
$dark60: rgba(48,70,89,.6);
$light: #f5f9fc;
$transition: all 0.3s ease 0s;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  overflow: auto;
}

body{
  background: linear-gradient($dark60, $dark60), url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p, a, button{
  font-family: "Lato", sans-serif;
  color: $light;
  text-decoration: none;
}

a, button, .logo__content{
  cursor: pointer;
}

main{
  height: 100%;
  display: grid;
  grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header{
  grid-column: 2 / span 6;
}

nav{
  display: flex;
  align-items: center;
  height: 120px;

}

.nav__links{
  margin-left: auto;

  a{
    margin-right: 5rem;

    &:hover{
      color: $accentHover;
    }
  }
   a, button{
     font-size: 1.0625rem;
     font-weight: 400;
     transition: $transition;
   }

}

.btn__links{
  border: none;
  background-color: $accent;
  color: $light;
  padding: 8px 25px;
  transition: $transition;

  &:hover{
    cursor: pointer;
    background: $accentHover;
  }
}

.info{
  grid-column: 2 / span 4;
}

.hero__font{
  color: $light;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 4.375rem;
}

.icons{
  display: flex;
  margin-top: 55px;

}

.icon {
  display: flex;
  align-items: center;
}

.icon__info{
  margin: 0 80px 0 20px;

  .icon__top{
    font-size: 1.0625rem;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .icon__bottom{
    font-size: 1.5625rem;
    font-weight: 700;
  }
}

 .features{
   grid-column: 2 / span 7;
   background-color: $dark80;
   align-self: end;
   padding: 40px 0 0 60px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 } 

 .feature{
   display: flex;
   margin: 0 60px 40px 0px;

   img{
     height: 100px;
     margin-right: 20px;
   }
 }

 .feature__info{
   margin-top: 10px;
 }
 
 .feature__top,
 .feature__cta{
   font-size: 0.8125rem;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 10px;

 }

 .feature__cta{
   cursor: pointer;
   transition: $transition;

   &:hover{
    color: $accent;
  }
 }

 .feature:nth-child(3){
   align-self: flex-start;

  
 }

 .feature__bottom{
   width: 180px;
   font-size: 1rem;
   font-weight: 400;
 }

 @media only screen and (max-width: 1100px){
   .icon img{
     height: 55px;
     width: auto;
   }

   .icon__top{
     font-size: 1rem;
   }

   .icon__bottom{
     font-size: 1.125rem;
   }

   .icon__font{
     font-size: 2.1875rem;
   }

   .features{
     grid-column: 1 / span 8;
   }
 }

 @media only screen  and (max-width: 650px){
   .info{
     grid-column: 2 / span 6;
   }

   .icons{
     flex-direction: column;
   }

   .icon{
     margin-bottom: 20px;
   }
 }